/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    background-image: url('../public/images/page_images/background12.JPG');
    background-size: cover;
    background-position: center;
  }


  .background2 {
    background-image: url('../public/images/page_images/background2.jpg');
    background-size: cover;
    background-position: center;
  }

  .background3 {
    background-image: url('../public/images/page_images/background3.jpg');
    background-size: cover;
    background-position: center;
}
